
:root {
    --mainfont: font-family: 'Lato', sans-serif;
    --subfont: font-family: 'Heebo', sans-serif;
    --parafont: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* ===================
    banner css starts 
    ================= */

#banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    background-position: top-left;
    margin-bottom: 200px;
}

#banner .container {
	width: 1170px;
	margin: 0 auto;
    display: flex;
}

#banner .banner-info {
    width: 50%;
}

#banner .banner-info h1 {
    font-size: 40px;
    font-family: var(--mainfont);
    font-weight: 700;
    text-transform: capitalize;
    color: black;
    margin-top: 60px;
}

#banner .banner-info h1 span {
    color: #ffb825;
}

#banner .banner-info h3 {
   color: black;
   font-size: 24px;
   text-transform: capitalize;
   font-family: var(--subfont);
   font-weight: 600;
   margin-top: 60px;
}

#banner .banner-info p {
    color: #353535;
    font-size: 16px;
    font-family: var(--parafont);
    font-weight: 400;
    margin-top: 30px;
    padding-right: 150px;
    line-height: 25px;
    margin-bottom: 40px;

}

#banner .banner-info a {
    background-color: #f9725c;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--mainfont);
    font-weight: 700;
    padding: 12px 29px;
    border-radius: 6px;
    transition: all linear .3s;
}

#banner .banner-info a:hover {
    background-color: #ff5096;
     color: yellow;
 }

/* banner-info css ends */

#banner .banner-photo {
    width: 50%;
}

#banner .banner-photo  img{
    width: 490px;
}

/* ===================
    banner css ends 
    ================= */


    
/* ===================
    resume-info css starts 
    ================= */
 #resume {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#resume .container {
	width: 1170px;
	margin: 0 auto;
    display: flex;
}
    
#resume .resume-photo {
    width: 50%;
}

#resume .resume-photo  img{
    width: 490px;
} 

/* resume-photo css ends */
    
#resume .resume-info {
    width: 50%;
}

#resume .resume-info h1 {
    font-size: 40px;
    font-family: var(--mainfont);
    font-weight: 700;
    text-transform: capitalize;
    color: black;
    margin-top: 60px;
}

#resume .resume-info h1 span {
    color: #ffb825;
}

#resume .resume-info h3 {
    color: black;
    font-size: 24px;
    text-transform: capitalize;
    font-family: var(--subfont);
    font-weight: 600;
    margin-top: 60px;
}

#resume .resume-info p {
    color: #353535;
    font-size: 16px;
    font-family: var(--parafont);
    font-weight: 400;
    margin-top: 30px;
    padding-right: 150px;
    line-height: 25px;
    margin-bottom: 40px;
}

#resume .resume-info a {
    background-color: #ffa62f;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--mainfont);
    font-weight: 700;
    padding: 12px 29px;
    border-radius: 6px;
    transition: all linear .3s;
}

#resume .resume-info a:hover {
   background-color: #ff5096;
    color: yellow;
}

/* ===================
    resume-info css ends 
    ================= */



/* ===================
    expriences-info css starts 
    ================= */

#exprience-info {
    margin-top: 200px;
    margin-bottom: 120px;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: top-left;
}

#exprience-info .container {
	width: 1170px;
	margin: 0 auto;
    display: flex;
}

#exprience-info h1 {
    font-size: 40px;
    font-family: var(--mainfont);
    font-weight: 700;
    text-transform: capitalize;
    color: black;
    margin-bottom: 70px;
    padding-right: 100px;
}

#exprience-info .card {
    display: flex;
    align-content: space-between;
}

#exprience-info #card12 {
    width: 500px;
    padding-left: 30px;
}

#exprience-info .card .card-1 {
    box-shadow: 2px 2px 14px -3px;
    border-left: 6px solid #f9725c;
    border-bottom: 6px solid #f9725c;
    border-radius: 5px;
}

#exprience-info .card .card-1 h2{
    font-size: 35px;
    font-family: var(--subfont);
    font-weight: 500;
    text-transform: capitalize;
    color: black;
    margin: 40px 0;
}
#exprience-info .card .card-1 h3{
    font-size: 20px;
    font-family: var(--subfont);
    font-weight: 700;
    text-transform: capitalize;
    color: #ffb825;
}

#exprience-info .card .card-1 p {
    color: #353535;
    font-size: 16px;
    font-family: var(--parafont);
    font-weight: 400;
    margin-top: 30px;
    line-height: 25px;
    margin-bottom: 40px;
    padding-right: 40px;
} 

/* card-1 css ends */

#exprience-info .card .card-2 {
    box-shadow: 2px 2px 14px -3px;
    border-left: 6px solid #f9725c;
    border-bottom: 6px solid #f9725c;
    border-radius: 5px;
    margin-left: 80px;
}

#exprience-info .card .card-2 h2{
    font-size: 35px;
    font-family: var(--subfont);
    font-weight: 500;
    text-transform: capitalize;
    color: black;
    margin: 40px 0;
}
#exprience-info .container .card .card-2 h3{
    font-size: 20px;
    font-family: var(--subfont);
    font-weight: 700;
    text-transform: capitalize;
    color: #ffb825;
}

#exprience-info .card .card-2 p {
    color: #353535;
    font-size: 16px;
    font-family: var(--parafont);
    font-weight: 400;
    margin-top: 30px;
    line-height: 25px;
    margin-bottom: 40px;
    padding-right: 40px;
} 

/* ===================
    expriences-info css ends 
    ================= */

    /* ===================
    footer css starts 
    ================= */
    #footer p {
        text-align: center;
        font-family: var(--parafont);
        font-weight: 500;
        font-size: 18px;
        color: #353535;
        margin-bottom: 50px;
    }

    #footer p span {
        color: #ffb825;
    }
    /* ===================
     footer css ends 
    ================= */