
:root {
    --mainfont: font-family: 'Lato', sans-serif;
    --subfont: font-family: 'Heebo', sans-serif;
    --parafont: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

a {
    text-decoration: none;
}

/* ===================
    banner css starts 
    ================= */

#banner {
    display: flex;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    background-position: top-left;
    margin-bottom: 200px;
}



#banner .banner-info {
    width: 50%;
}

#banner .banner-info h1 {
    font-size: 40px;
    font-family: var(--mainfont);
    font-weight: 700;
    text-transform: capitalize;
    color: black;
    margin-top: 60px;
}

#banner .banner-info h1 span {
   color: darkorange;
}

#banner .banner-info h3 {
   color: black;
   font-size: 24px;
   text-transform: capitalize;
   font-family: var(--subfont);
   font-weight: 600;
   margin-top: 60px;
}

#banner .banner-info p {
    color: #353535;
    font-size: 16px;
    font-family: var(--parafont);
    font-weight: 400;
    margin-top: 30px;
    padding-right: 150px;
    line-height: 25px;
    margin-bottom: 40px;

}

#banner .banner-info a {
    background-color: tomato;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--mainfont);
    font-weight: 700;
    padding: 12px 29px;
    border-radius: 6px;
    transition: all linear .3s;
}

#banner .banner-info a:hover {
    background-color: darkslateblue;
     color: darkorange;
 }

/* banner-info css ends */

#banner .banner-photo {
    width: 50%;
}

#banner .banner-photo  img{
    width: 490px;
}

/* ===================
    banner css ends 
    ================= */


    
/* ===================
    resume-info css starts 
    ================= */
 #resume {
    display: flex;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
    
#resume .resume-photo {
    width: 50%;
}

#resume .resume-photo  img{
    width: 490px;
} 

/* resume-photo css ends */
    
#resume .resume-info {
    width: 50%;
}

#resume .resume-info h1 {
    font-size: 40px;
    font-family: var(--mainfont);
    font-weight: 700;
    text-transform: capitalize;
    color: black;
    margin-top: 60px;
}

#resume .resume-info h1 span {
    color: darkorange;
}

#resume .resume-info h3 {
    color: black;
    font-size: 24px;
    text-transform: capitalize;
    font-family: var(--subfont);
    font-weight: 600;
    margin-top: 60px;
}

#resume .resume-info p {
    color: #353535;
    font-size: 16px;
    font-family: var(--parafont);
    font-weight: 400;
    margin-top: 30px;
    padding-right: 150px;
    line-height: 25px;
    margin-bottom: 40px;

}

#resume .resume-info a {
    background-color: tomato;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--mainfont);
    font-weight: 700;
    padding: 12px 29px;
    border-radius: 6px;
    transition: all linear .3s;
}

#resume .resume-info a:hover {
   background-color: darkslateblue;
    color: darkorange;
}

/* ===================
    resume-info css ends 
    ================= */



/* ===================
    expriences-info css ends 
    ================= */
/* ===================
    expriences-info css ends 
    ================= */